In [3]:
import pandas as pd

In [5]:
data = pd.read_csv('test_data.csv')
data

,e1,e2,e3,e4,e5,e6,e8,ege_budg,wos,scopus,rsci,rnd,total_income,square,phd_share,pps,rnd_private,pk
0,61.88,75.55,6.63,2556.79,14.22,94.464,6.91,63.03,8.1480,1.8060,346.5420,34979.8,1183805.084,53753,86.11,420,12016.20,3781.40
1,55.81,76.32,9.17,2765.05,142.78,55.000,7.33,57.60,15.7210,29.7306,591.9454,34739.6,1258764.500,53753,88.74,398,11741.00,3749.05
2,57.45,86.40,12.43,2881.25,166.81,55.000,7.10,58.58,20.4820,55.8250,1323.0140,35750.5,1192261.000,51206,88.72,385,19762.05,3459.40
3,59.44,84.80,15.85,1976.00,146.02,0.000,6.75,60.76,4.8490,22.3054,1456.9007,32631.6,760364.600,60484,90.93,373,21984.62,3514.65
4,60.15,109.27,24.50,2044.22,158.43,65.000,5.75,61.82,3.9930,17.0247,1014.9843,39626.1,741335.000,60471,90.36,363,27054.39,4179.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2492,64.07,32.83,12.52,2229.17,200.84,65.000,5.90,64.97,177.6772,145.7308,7768.2996,67074.0,4554190.400,140263,69.57,1972,14947.76,17770.15
2493,59.70,126.14,6.20,2207.55,154.15,0.000,3.98,64.30,17.8100,41.2370,1070.0385,92135.6,1612505.300,116517,57.76,685,10754.50,6939.50
2494,59.57,129.54,5.62,2415.13,162.82,55.000,4.12,60.29,24.7660,62.7690,1337.9740,89355.8,1665959.500,117339,62.02,610,67191.50,7191.85
2495,63.77,431.18,8.83,3661.14,161.80,75.000,2.64,69.76,81.6384,176.3517,2595.5271,454723.3,3861039.200,194673,65.94,1063,101059.41,13375.10
2496,67.58,467.70,14.49,3428.81,163.38,75.000,4.23,71.45,87.0048,259.1011,1709.1811,459890.0,3371547.600,153417,67.13,1007,178913.69,10669.15